/* @tailwind base; */
// .ProseMirror {
//   @apply min-h-[400px] p-5;
// }
html {
  scroll-behavior: smooth;
}

.epr-header-overlay {
  display: none !important;
}

.epr-hidden-on-search {
  display: none !important;
}

.ProseMirror {
  @apply p-0 pl-3 outline-none;
}
@tailwind components;
@tailwind utilities;
